.box-quadro-avisos{
    display:inline;
    align-items: center;
    justify-content: center;
}

.ta-qa{
    display: inline;
    justify-content: center;
    align-items: center;
    display:inline;
    width:95%;
    height: 7em;
    margin-left: 2.5em;
    padding:1%;
    border: 5px solid #4CAF50;
    border-radius: 10px;
    background-color: #EFEFEF;
    resize: none;
}

.label-qa{
    display:flex;
    width: 100%;
    height: 3em;
    padding: 1em 1em 2.5em 1em;
    font-family: 'Comfortaa', cursive;
}

.label-qa button {
    display: flex;
    margin-left: auto;
    width: fit-content;
    height: fit-content;
    background-color: #EFEFEF;
    border: 6px solid #4CAF50;
    border-radius: 25px;
    font-family: 'Comfortaa', cursive;
    font-size: 2vh;
    color:black;
}

.box-quadro-plantao{
    width: 25%;
    margin-left: auto;
    height:100%;
}

.label-qp{
    display:inline;
    width: 100%;
    height: 3em;
    font-family: 'Comfortaa', cursive;
    background-color: blue;
}

.label-qp button {
    display: flex;
    width: fit-content;
    height: fit-content;
    background-color: #EFEFEF;
    border: 6px solid #4CAF50;
    border-radius: 25px;
    font-family: 'Comfortaa', cursive;
    font-size: 2vh;
    color:black;
}

.ta-qp{
    display: inline;
    justify-content: center;
    align-items: center;
    display:inline;
    width:90%;
    height: 24.8em;
    margin:0.5em 1em 0 0;
    border: 5px solid #4CAF50;
    border-radius: 10px;
    background-color: #EFEFEF;
    resize: none;
}

.edit-quadro-avisos{
    display:inline;
    align-items: center;
    justify-content: center;
}

.editQA-card-body{
    padding:0;
    margin-top: 2em;
    width:94em;
}

.edit-ta-qa {
    width: 100%;
    height: 7em;
    padding: 0.5em;
    border: 5px solid #4CAF50;
    border-radius: 10px;
    background-color: #EFEFEF;
    resize: none;
}

.edit-quadro-plantao {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.editQP-card-body {
    padding: 0;
    margin-top: 2em;
}

.edit-ta-qp {
    width: 85%;
    height: 25em;
    padding: 0.5em;
    border: 5px solid #4CAF50;
    border-radius: 10px;
    background-color: #EFEFEF;
    resize: none;
}
